<h6>
    @ConfirmationMessage
</h6>

<div class="confirm-component">

    <div class="buttons-wrapper">
        <button type="button" @onclick="OnConfirm" class="confirm-button"> تایید </button>

        <button type="button" @onclick="OnCancel"> بازگشت </button>
    </div>

</div>