
<div class="main-header-box top-bar-add-edit">
    <div class="logo-box">
        <img class="ATA-logo" src="@ImageUrls.Layout.LogoHeaderMain" />
    </div>
    
    <div class="site-name-header">
        @AppMetadata.PersianFullName
    </div>

    <div class="add-edit-topbar-right-side">
        <div class="col-xl-5 ">
            <img class="center-logo" src="@ImageUrls.Layout.AtaAirlinesLogoMain" />
        </div>
        <div class="col-xl-5 col-lg-9 action-buttons flex">@ChildContent</div>
    </div>
</div>