
@*<TelerikLoaderContainer Text="... Authorizing" Visible="@true" LoaderType="LoaderType.ConvergingSpinner"  />*@

<div class="ata-loading-component">
    <div className="center hFull">
        <div id="loader-wrappers">
            <div id="loaders-body">
                <img src="@ImageUrls.Layout.ATALoading" style="padding-left: 6px" alt="loader" />
                <div id="loaders"></div>
            </div>
            @*<div style="font-family: aeonik-regular, tahoma; letter-spacing: 1px"> Authorizing ... </div>*@
        </div>
    </div>
</div>