
<div class="page-topbar-wrapper">
    <div class="page-title">@PageName</div>
    <div class="page-description">@PageDescription</div>
</div>

@code
{
    [Parameter]
    public string PageName { get; set; }

    [Parameter]
    public string PageDescription { get; set; }
}
