$lavender: #c6b7f2;
$dark: #393939;
$bluey-grey: #9292a8;
$white: #ffffff;
$black: #000000;
$white-two: #f7f7f7;
$lighter-purple: #994aff;
$light-gray: #E7E7E7;
$turquoise-green: #00ff8e;
$light-green: #4ec17d;
$pinkish-grey: #cacaca;
$dark-two: #1a1a33;
$seaweed: #16d380;
$white-three: #e9e9e9;
$dark-three: #191932;
$dark-blue-grey: #20204c;
$bluey-grey-two: #a6a7bb;
$aquamarine: #01dc94;
$pale-grey: #f1eff5;
$white-four: #f9f9f9;
$lavender-two: #c4b6f1;
$pale-lilac: #ecedff;
$blue-with-a-hint-of-purple: #443ec5;
$light-turquoise: #8ef2ce;
$dark-mint-green: #1bbf7d;
$pale-grey-two: #f7f7fb;
$pale-grey-three: #ebebf5;
$heather: #a090bd;
$blueberry: #403d7d;
$dark-blueberry: #2B2867;
$regal-blue: #151256;
$dark-four: #1c1c39;
$dirty-pink: #C2C0E0;
$very-light-purple: #eeeffd;
$pale: #fff9dc;
$turquoise: #01c9b6;
$strong-pink: #ff0083;
$light-periwinkle: #c4cbfb;
$salmon: #ff7b74;
$pale-green: #dfffdc;
$pale-red: #FCE9EA;
$pale-red-hover: #ffdcdc;
$very-light-green: #e8ffc9;
$light-blue-grey: #bbb9e6;
$light-sky-blue: #c9fcff;
$dark-red: #dc3545;
$ice: #f7fffc;
$sushi: #96BF48;
$candlelight: #FFD117;
$bittersweet: #FF5D5D;
$link-blue: #007ace;
$success-green: #A5BE28;
$dim-white: #ECECEC;
$pale-pink: #E8E2FF;
$pale-lavender: #F0EFF5;
$error-red: #DE4444;
$light-blue: #3498EB;
$pale-white: #F0F0F5;
$white-smoke: #F1F1F1;
$ghost-white: #F9F9FB;
$gray: #605E5C;
$dark-gray: #201F1E;
$yellow: #FFC107;
$dolphin: #717074;
$dim-gray: #828282;
$gainsboro: #E3E3E3;
$light-lavender: #E7E7ED;
$faux-dark: #1A1A31;
$whisper: #e8e8e8;
$cyan: #00d5e9;
$green: #42B959;
$grey: #e0e0e0;
$transparent-gray: #a0a0a054;
$light-berry: #6a679a;
$heavy-light-blueberry: #DDD4FF;
$secondarydisable: #F1EDFF;
$gray-green: #bdebbd;
$gray-red: #ebbdbd;
$sunset-pearl: #F2B973;
$light-sunset-pearl: #F7D0A1;
$old-brick: #87121A;
$jacko-bean: #2F1C04;
$arsenic: #434343;
$thunderbird: #B31923;
$pale-chestnut: #F3A5AA;
$mimolette-orange: #E98A15;
$placebo-red: #FCE9EA;
$boulder: #7A7A7A;
$monza: #C51B25;
$success-notif-bg: #DCECE3;
$success-notif-border: #198754;
$error-notif-bg: #FCE9EA;
$error-notif-border: #E64C56;
$warning-notif-bg: #FDF8DE;
$warning-notif-border: #CCAE00;
$info-notif-bg: #E7EDF6;
$info-notif-border: #CCAE00;
$apricot: #ED7880;
$very-dark-gray: #666666;
$flamingo: #E64C56;
$titanium-white: #E4E4E4;
$titanium-white-2: #E5E5E5;
$old-brick-disabled: #E2CBCC;
$mimolette-orange-disabled: #FFE2BD;
$wewak: #F9D2D5;
$border-color: rgba(0, 0, 0, 0.08);
// ATA Colors
$ATAOfficialRed: #DA2128; //= rgb(218, 33, 40);
$ATAOfficalDarkRed: rgb(167, 28, 32);
$ATARed: #82011d;
$ATADarkRed: #5b0719;
