/// Global Variables
@import '_colors.scss';

// Colors
$themeMainColor: $ATARed; // e.g. #403d7d
$themeLightColor: $ATARed; // e.g. #6a679a
$themeDarkColor: $ATADarkRed; // e.g. #2B2867
$themeGridColor: $pale-chestnut;

// Fonts
$fontPrimary: aeonik-regular, iranyekan;
$fontPrimaryLight: aeonik-light, iranyekan;
$fontBHoma: bhoma, iranyekan;


